main{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    text-align: center;
    font-size: 2.2em;
    margin: 10px 0px 0 0;
}

.title2{
    text-align: center;
    font-size: 1.8em;
    margin: 5px 0px 0 0;
}

.indent{
    text-indent: 20px;
    margin: 5px 0;
    font-size: 1.3em;
}

.indent2{
    text-indent: 20px;
    margin: 10px 0 0 0;
    font-size: 1.5em;
}

.topics{
    max-width: 90%;
    margin: auto;
    text-indent: 15px;
}

.topic{
    font-size: 1.3em;
}

.topic2{
    font-size: 1.3em;
    margin: 5px;
}

#study, #doubt, #rule_image, #waiting_line_image, #documents_image, #remaining_scholarships_image{
    max-width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#tiebreaker_image{
    max-width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#pages_jump{
    width: 60%;
    font-size: 1em;
}

.color_pages_jump{
    color: orangered;
    margin: 5px;
}

.color_pages_jump:hover{
    color: rgba(255, 68, 0, 0.568);
    cursor: pointer;
}



@media (max-width:858px) {
    .topic{
        margin-left: 10px;
    }

    #study, #doubt, #rule_image, #waiting_line_image, #documents_image, #tiebreaker_image, #remaining_scholarships_image{
        max-width: 100%;
    }
    
    div#pages_jump{
        width: 90%;
    }
}