main{
    width: 100%;
}

.img_home_graduation{
    max-width: 50%;
    border-radius: 10px;
    margin: 0 20px;
}

h1.title_presentation{
   font-size: 1.5em;
   margin-bottom: 20px;
}

p.text_presentation{
    font-size: 1em;
}

.interactive{
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    margin: auto;
    margin-top: 50px;
}

.interactive a{
    color: black;
    font-weight: bold;
    
}

.interactive a:hover{
    background-color: white;
}
.interactive:hover{
    opacity: 0.7;
    cursor: pointer;
}

div#presentation{
    width: 80%;
    align-items: center;
}

.banner{
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.329);
}

#banner2{
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#banner3{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.329);
}

div.box_introduction{
    width: 80%;
    align-items: center;
}

#registration_index_image{
    max-width: 50%;
    border-radius: 10px;
    margin: 0 20px;
}

#registration2_image{
    max-width: 60%;
}

#income{
    max-width: 40%;
    border-radius: 10px;
    margin-right: 10px;
}



@media (max-width: 858px) {
    .img_home_graduation{
        width: 90%;
        margin-bottom: 10px;
    }

    div.container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    h1.title_presentation{
        text-align: center;
    }

    .interactive_about{
        margin: auto;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }

    .img_home_graduation, #registration_index_image, #registration2_image, #income{
        max-width: 100%;
    }
    #banner2{
        width: 100%;
    }
}
