*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

.text_calculate{
    font-size: 1.3em;
    text-indent: 20px;
}

.income{
    width: 85%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.329);
    margin: 20px;
}

div#Info_calculate{
    width: 80%;
    align-items: center;
}

div#calculator{
    width: 50%;
    
}

button#Calculator{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Result_calculator_full_value{
    display: block;
    position: absolute;
    width: 30%;
    height: 30vh;
    top: 30%;
    right: 0;
    left: 0;

}

#Result_calculator_partial_value{
    display: block;
    position: absolute;
    width: 30%;
    height: 30vh;
    top: 30%;
    right: 0;
    left: 0;

}

#Result_calculator_negative{
    display: block;
    position: absolute;
    width: 30%;
    height: 30vh;
    top: 30%;
    right: 0;
    left: 0;

}

#Result_calculator_full_value{
    display: none;
}

#Result_calculator_partial_value{
    display: none;
}

#Result_calculator_negative{
    display: none;
}

.interactive_about{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);

}